<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.6" name="miraclelinux">
    <description type="system">
        <author>pastalian</author>
        <contact>pastalian46@gmail.com</contact>
        <specification>MIRACLE LINUX 9</specification>
    </description>
    <preferences>
        <version>0.0.1</version>
        <packagemanager>dnf4</packagemanager>
        <rpm-check-signatures>true</rpm-check-signatures>
        <rpm-excludedocs>true</rpm-excludedocs>
        <keytable>us</keytable>
        <timezone>UTC</timezone>
        <locale>en_US</locale>
    </preferences>
    <profiles>
        <profile name="9.0" description="9.0-released"/>
        <profile name="9.2" description="9.2-released"/>
        <profile name="9-latest" description="9-latest"/>
    </profiles>
    <preferences profiles="9.0">
        <release-version>9.0-released</release-version>
        <type image="oci">
            <containerconfig name="miraclelinux" tag="9.0"/>
        </type>
    </preferences>
    <preferences profiles="9.2">
        <release-version>9.2-released</release-version>
        <type image="oci">
            <containerconfig name="miraclelinux" tag="9.2"/>
        </type>
    </preferences>
    <preferences profiles="9-latest">
        <release-version>9-latest</release-version>
        <type image="oci">
            <containerconfig name="miraclelinux" tag="9-latest"/>
        </type>
    </preferences>
    <repository type="rpm-md" alias="baseos" sourcetype="mirrorlist">
        <source path="https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/baseos"/>
    </repository>
    <repository type="rpm-md" alias="appstream" sourcetype="mirrorlist">
        <source path="https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/appstream"/>
    </repository>
    <packages type="bootstrap">
        <ignore name="glibc-all-langpacks"/>
        <package name="basesystem"/>
        <package name="coreutils-single"/>
        <package name="curl-minimal"/>
        <package name="filesystem"/>
        <package name="glibc-minimal-langpack"/>
        <package name="libcurl-minimal"/>
    </packages>
    <packages type="image">
        <ignore name="glibc-all-langpacks"/>
        <package name="miraclelinux-repos"/>
        <package name="rootfiles"/>
        <package name="tar"/>
        <package name="vim-minimal"/>
        <package name="yum"/>
    </packages>
</image>
