<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.6" name="miraclelinux">
    <description type="system">
        <author>pastalian</author>
        <contact>pastalian46@gmail.com</contact>
        <specification>MIRACLE LINUX 9</specification>
    </description>
    <preferences>
        <version>0.0.2</version>
        <packagemanager>dnf4</packagemanager>
        <rpm-locale-filtering>true</rpm-locale-filtering>
        <rpm-excludedocs>true</rpm-excludedocs>
        <timezone>UTC</timezone>
    </preferences>
    <profiles>
        <profile name="minimal" description="minimal packages"/>
        <profile name="default" description="default packages"/>
        <profile name="9.0" description="9.0-released">
            <requires profile="default"/>
        </profile>
        <profile name="9.0-minimal" description="9.0-minimal">
            <requires profile="minimal"/>
        </profile>
        <profile name="9.2" description="9.2-released">
            <requires profile="default"/>
        </profile>
        <profile name="9.2-minimal" description="9.2-minimal">
            <requires profile="minimal"/>
        </profile>
        <profile name="9-latest" description="9-latest">
            <requires profile="default"/>
        </profile>
        <profile name="9-latest-minimal" description="9-latest-minimal">
            <requires profile="minimal"/>
        </profile>
    </profiles>
    <preferences profiles="9.0">
        <release-version>9.0-released</release-version>
        <type image="oci">
            <containerconfig name="pastalian/miraclelinux" tag="9.0"/>
        </type>
    </preferences>
    <preferences profiles="9.0-minimal">
        <release-version>9.0-released</release-version>
        <type image="oci">
            <containerconfig name="pastalian/miraclelinux" tag="9.0-minimal"/>
        </type>
    </preferences>
    <preferences profiles="9.2">
        <release-version>9.2-released</release-version>
        <type image="oci">
            <containerconfig name="pastalian/miraclelinux" tag="9.2"/>
        </type>
    </preferences>
    <preferences profiles="9.2-minimal">
        <release-version>9.2-released</release-version>
        <type image="oci">
            <containerconfig name="pastalian/miraclelinux" tag="9.2-minimal"/>
        </type>
    </preferences>
    <preferences profiles="9-latest">
        <release-version>9-latest</release-version>
        <type image="oci">
            <containerconfig name="pastalian/miraclelinux" tag="9-latest"/>
        </type>
    </preferences>
    <preferences profiles="9-latest-minimal">
        <release-version>9-latest</release-version>
        <type image="oci">
            <containerconfig name="pastalian/miraclelinux" tag="9-latest-minimal"/>
        </type>
    </preferences>
    <repository type="rpm-md" alias="baseos" sourcetype="mirrorlist">
        <source path="https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/baseos"/>
    </repository>
    <repository type="rpm-md" alias="appstream" sourcetype="mirrorlist">
        <source path="https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/appstream"/>
    </repository>
    <packages type="bootstrap">
        <ignore name="glibc-all-langpacks"/>
        <package name="basesystem"/>
        <package name="coreutils-single"/>
        <package name="curl-minimal"/>
        <package name="filesystem"/>
        <package name="glibc-minimal-langpack"/>
        <package name="libcurl-minimal"/>
        <package name="miraclelinux-repos"/>
    </packages>
    <packages type="bootstrap" profiles="minimal">
        <package name="microdnf"/>
    </packages>
    <packages type="bootstrap" profiles="default">
        <package name="dnf"/>
        <package name="rootfiles"/>
        <package name="tar"/>
        <package name="vim-minimal"/>
        <package name="yum"/>
    </packages>
</image>
