<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.6" name="miraclelinux">
    <description type="system">
        <author>pastalian</author>
        <contact>pastalian46@gmail.com</contact>
        <specification>MIRACLE LINUX 8</specification>
    </description>
    <preferences>
        <version>0.0.2</version>
        <packagemanager>dnf4</packagemanager>
        <rpm-locale-filtering>true</rpm-locale-filtering>
        <rpm-excludedocs>true</rpm-excludedocs>
        <timezone>UTC</timezone>
    </preferences>
    <profiles>
        <profile name="minimal" description="minimal packages"/>
        <profile name="default" description="default packages"/>
        <profile name="8.4" description="8.4-released">
            <requires profile="default"/>
        </profile>
        <profile name="8.4-minimal" description="8.4-minimal">
            <requires profile="minimal"/>
        </profile>
        <profile name="8.6" description="8.6-released">
            <requires profile="default"/>
        </profile>
        <profile name="8.6-minimal" description="8.6-minimal">
            <requires profile="minimal"/>
        </profile>
        <profile name="8.8" description="8.8-released">
            <requires profile="default"/>
        </profile>
        <profile name="8.8-minimal" description="8.8-minimal">
            <requires profile="minimal"/>
        </profile>
        <profile name="8-latest" description="8-latest">
            <requires profile="default"/>
        </profile>
        <profile name="8-latest-minimal" description="8-latest-minimal">
            <requires profile="minimal"/>
        </profile>
    </profiles>
    <preferences profiles="8.4">
        <release-version>8.4-released</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8.4"/>
        </type>
    </preferences>
    <preferences profiles="8.4-minimal">
        <release-version>8.4-released</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8.4-minimal"/>
        </type>
    </preferences>
    <preferences profiles="8.6">
        <release-version>8.6-released</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8.6"/>
        </type>
    </preferences>
    <preferences profiles="8.6-minimal">
        <release-version>8.6-released</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8.6-minimal"/>
        </type>
    </preferences>
    <preferences profiles="8.8">
        <release-version>8.8-released</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8.8"/>
        </type>
    </preferences>
    <preferences profiles="8.8-minimal">
        <release-version>8.8-released</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8.8-minimal"/>
        </type>
    </preferences>
    <preferences profiles="8-latest">
        <release-version>8-latest</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8-latest" additionalnames=":8"/>
        </type>
    </preferences>
    <preferences profiles="8-latest-minimal">
        <release-version>8-latest</release-version>
        <type image="docker">
            <containerconfig name="pastalian/miraclelinux" tag="8-latest-minimal" additionalnames=":8-minimal"/>
        </type>
    </preferences>
    <repository type="rpm-md" alias="baseos" sourcetype="mirrorlist">
        <source path="https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/baseos"/>
    </repository>
    <repository type="rpm-md" alias="appstream" sourcetype="mirrorlist">
        <source path="https://repo.dist.miraclelinux.net/miraclelinux/mirrorlist/$releasever/$basearch/appstream"/>
    </repository>
    <packages type="bootstrap">
        <ignore name="glibc-all-langpacks"/>
        <package name="basesystem"/>
        <package name="coreutils-single"/>
        <package name="filesystem"/>
        <package name="glibc-minimal-langpack"/>
        <package name="libcurl-minimal"/>
        <package name="miraclelinux-repos"/>
        <package name="redhat-release"/>
    </packages>
    <packages type="bootstrap" profiles="minimal">
        <package name="microdnf"/>
    </packages>
    <packages type="bootstrap" profiles="default">
        <package name="dnf"/>
        <package name="rootfiles"/>
        <package name="tar"/>
        <package name="vim-minimal"/>
        <package name="yum"/>
    </packages>
</image>
