<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.6" name="almalinux">
    <description type="system">
        <author>pastalian</author>
        <contact>pastalian46@gmail.com</contact>
        <specification>AlmaLinux</specification>
    </description>
    <preferences>
        <version>0.0.1</version>
        <packagemanager>dnf4</packagemanager>
        <rpm-locale-filtering>true</rpm-locale-filtering>
        <rpm-excludedocs>true</rpm-excludedocs>
        <timezone>UTC</timezone>
    </preferences>
    <profiles>
        <profile name="minimal" description="minimal packages"/>
        <profile name="default" description="default packages"/>
        <profile name="9" description="9-latest">
            <requires profile="default"/>
        </profile>
        <profile name="9-minimal" description="9-latest-minimal">
            <requires profile="minimal"/>
        </profile>
    </profiles>
    <preferences profiles="9">
        <release-version>9</release-version>
        <type image="docker">
            <containerconfig name="pastalian/almalinux" tag="9"/>
        </type>
    </preferences>
    <preferences profiles="9-minimal">
        <release-version>9</release-version>
        <type image="docker">
            <containerconfig name="pastalian/almalinux" tag="9-minimal"/>
        </type>
    </preferences>
    <repository type="rpm-md" alias="baseos" sourcetype="mirrorlist">
        <source path="https://mirrors.almalinux.org/mirrorlist/$releasever/baseos"/>
    </repository>
    <repository type="rpm-md" alias="appstream" sourcetype="mirrorlist">
        <source path="https://mirrors.almalinux.org/mirrorlist/$releasever/appstream"/>
    </repository>
    <packages type="bootstrap">
        <ignore name="glibc-all-langpacks"/>
        <package name="basesystem"/>
        <package name="coreutils-single"/>
        <package name="curl-minimal"/>
        <package name="filesystem"/>
        <package name="glibc-minimal-langpack"/>
        <package name="libcurl-minimal"/>
    </packages>
    <packages type="bootstrap" profiles="minimal">
        <package name="microdnf"/>
    </packages>
    <packages type="bootstrap" profiles="default">
        <package name="dnf"/>
        <package name="rootfiles"/>
        <package name="tar"/>
        <package name="vim-minimal"/>
        <package name="yum"/>
    </packages>
</image>
