<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.6" name="almalinux">
    <description type="system">
        <author>pastalian</author>
        <contact>pastalian46@gmail.com</contact>
        <specification>AlmaLinux</specification>
    </description>
    <preferences>
        <version>0.0.1</version>
        <packagemanager>dnf4</packagemanager>
        <rpm-check-signatures>true</rpm-check-signatures>
        <rpm-excludedocs>true</rpm-excludedocs>
        <keytable>us</keytable>
        <timezone>UTC</timezone>
        <locale>en_US</locale>
    </preferences>
    <profiles>
        <profile name="8" description="8-latest"/>
        <profile name="9" description="9-latest"/>
    </profiles>
    <preferences profiles="8">
        <release-version>8</release-version>
        <type image="oci">
            <containerconfig name="almalinux" tag="8"/>
        </type>
    </preferences>
    <preferences profiles="9">
        <release-version>9</release-version>
        <type image="oci">
            <containerconfig name="almalinux" tag="9"/>
        </type>
    </preferences>
    <repository type="rpm-md" alias="baseos" sourcetype="mirrorlist">
        <source path="https://mirrors.almalinux.org/mirrorlist/$releasever/baseos"/>
    </repository>
    <repository type="rpm-md" alias="appstream" sourcetype="mirrorlist">
        <source path="https://mirrors.almalinux.org/mirrorlist/$releasever/appstream"/>
    </repository>
    <packages type="bootstrap">
        <ignore name="glibc-all-langpacks"/>
        <package name="coreutils-single"/>
        <package name="filesystem"/>
        <package name="glibc-minimal-langpack"/>
        <package name="libcurl-minimal"/>
    </packages>
    <packages type="image">
        <ignore name="glibc-all-langpacks"/>
        <package name="rootfiles"/>
        <package name="tar"/>
        <package name="vim-minimal"/>
        <package name="yum"/>
    </packages>
</image>
